.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
}

.card {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #DDD;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}
